#box {
    background-color: yellow;
    height: 200px;
    width: 200px;
}

#bulb{
    margin: 0px 450px;
}
#darkBtn{
    width: 100px;
    margin: 5px 550px;
    font-size: 20px;
}

#lightBtn{
    width: 100px;
    margin: 5px 550px;
    font-size: 20px;
}
